.ProductList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1020px) {
  .ProductList {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .ProductList {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .ProductList {
    grid-template-columns: 1fr;
  }
}