.SalesPreview {
  margin-top: 80px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  h2 {
    color: #282828;
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
  }
}

.line {
  flex: 1;
  height: 1px;
  margin-left: 32px;
  background: #dddddd;
}

.link {
  padding: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
